.banner {

    &__container {
        padding-top: 113px;
        // padding-left: 116px;
        // padding-right: 128px;
        padding-bottom: 215px;
        background-image: url('/images/banner-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba($color: $primary_color, $alpha: .46);
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 100px;
            left: 0;
            width: 284px;
            height: 284px;
            background-image: url('/images/element.svg');
            background-repeat: no-repeat;
            background-size: cover;
            transform: translateX(-50%);
            z-index: -1;
            
        }
    }

    &__inner {
        background-color: rgba($color: $primary_color, $alpha: .62);
        backdrop-filter: blur(3.5px);
        padding-top: 45px;
        padding-bottom: 45px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 200px;
        max-width: 885px;
        width: calc(100% - 45px);
        margin: auto;
        // overflow: hidden;
        // &::before{
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background-color: rgba($color: $primary_color, $alpha: .62);
        //     filter: blur(16px);
        // }
    }

    &__logo {
        display: flex;
        text-decoration: none;
        position: absolute;
        top: -10px;
        left: -10px;
        bottom: -10px;
        // transform: translateY(-50%);

        align-items: center;
        border: 2px solid #FFF;
        border-right: none;
        z-index: 1;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 25px;
            background-color: #FFF;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 2px;
            height: 25px;
            background-color: #FFF;
        }

        & .logo {
            padding: 0 29px 0 36px;
            width: 180px;

        }

        & .title {
            color: #FFF;
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            max-width: 130px;
            position: absolute;
            top: 50%;
            left: calc(100% - 25px);
            transform: translateY(-50%);
        }
    }

    &__nav {
        padding-left: 40%;
        position: relative;
    }

    &__lang {
        position: relative;
    }
}

.nav {
    &__item {
        margin-bottom: 15px;
    }

    &__link {
        color: #FFF;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        padding: 7px 14px;
        border-bottom: 1px solid transparent;
        transition: all .3s linear;
        display: block;

        &:hover {
            border-bottom: 1px solid white;
        }
    }
}