.gallery {

    &__container {
        max-width: 936px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        gap: 25px;
        grid-template-rows: repeat(6, 100px);
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 121px;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 375px;
            height: 375px;
            position: absolute;
            top: -35%;
            left: 100%;
            background-image: url('../images/element.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            z-index: 1;

        }

    }

    &__item {
        &:first-child {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            display: flex;
            align-items: center;
            color: $primary_color;
            font-family: "Montserrat", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &:nth-child(2) {
            grid-column: 2 / span 1;
            grid-row: 1 / span 4
        }

        &:nth-child(3) {
            grid-column: 3 / span 1;
            grid-row: 1 / span 2;
        }

        &:nth-child(4) {
            grid-column: 1 /span 1;
            grid-row: 2 / span 5;
        }

        &:nth-child(5) {
            grid-column: 2 / span 1;
            grid-row: 5 / span 2;
        }

        &:nth-child(6) {
            grid-column: 3 / span 1;
            grid-row: 3 / span 4;
        }


        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}