

.header {
   min-height: 60px;
  
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px 0;
    }
    &__logo {
        flex-shrink: 1;
    }
    &__title {
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        position: relative;
        justify-self: center;
        margin-left: 122px;
        flex-grow: 0;
        color: $secondary_color;
        &::before{
            content: '';
            display: block;
            position: absolute;
            right: calc(100% + 12px);
            top: 50%;
            transform: translateY(-50%);
            max-width: 172px;
            width: 100%;
            height: 1px;
            background-color: $secondary_color;
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            left: calc(100% + 12px);
            top: 50%;
            transform: translateY(-50%);
            max-width: 172px;
            width: 100%;
            height: 1px;
            background-color: $secondary_color;
        }
    }
    &__search {
        & .form-control {
            border-radius: 0;
            border: 1px solid transparent;
            &:focus {
                box-shadow: none;
                border-bottom:1px solid $primary_color;
            }
            &::placeholder {
                font-family: "Montserrat", sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0em;
                text-align: right;
            }
        }
        & .btn {
            margin-left: 1px;
            &:focus {
                border-color: transparent;
            }
            &:hover {
                border-color: $primary_color ;
            }
        }
    }
}