.main__slider {
    position: relative;
    transform: translateY(-35%);

    .splide__track {
        // box-shadow: 0px 6px 30px rgba(0, 83, 159, 0.12);
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .splide__arrow {
        &--next {
            right: 1rem;
        }

        &--prev {
            left: 1rem;
        }
    }

}

.splide__arrow {
    background-color: transparent;

    & svg {
        fill: none;
        transform: none;

    }
}


#news_slider {


    & .splide__track {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .splide__arrow {
        &--next {
            right: -3rem;
        }

        &--prev {
            left: -3rem;
        }
    }

}

.card {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    fill: #FFF;
    box-shadow: 0px 6px 30px rgba(0, 83, 159, 0.12);

    &__image {
        flex: 0 0 50%;
        max-width: 50%;

        & img {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 32px 53px 29px 52px;

        & .title {
            color: $primary_color;
            font-family: "Montserrat", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 24px;
        }

        & .desc {
            color: #000;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 24px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;

        & .place {
            color: $secondary_color;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        & .date {
            color: $secondary_color;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}


.news {
    &__slider {
        position: relative;

        margin-bottom: 121px;

        &-container {
            padding: 35px 59px 15px 58px;
            box-shadow: 0px 6px 30px rgba(0, 83, 159, 0.12);
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 285px;
                height: 284px;
                position: absolute;
                top: -40%;
                left: 100%;
                background-image: url('/images/element-g.svg');
                background-repeat: no-repeat;
                background-size: 314px 284px;
                z-index: -1;
            }
    
            &::after {
                content: '';
                display: block;
                width: 285px;
                height: 284px;
                position: absolute;
                top: 20%;
                right: 100%;
                background-image: url('/images/element-g.svg');
                background-repeat: no-repeat;
                background-size: 314px 284px;
                z-index: -1;
    
            }
        }

        &-title {
            color: $primary_color;
            font-family: "Montserrat", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 6px;
        }
    }

    &__card {
        padding: 29px 22px 19px 22px;
        box-shadow: 0px 6px 30px rgba(0, 83, 159, 0.12);
    }

    &__desc {
        color: #000;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 29px;
        height: 140px;
        overflow: hidden;
    }

    &__info {
        & .place {
            color: $secondary_color;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        & .date {
            color: $secondary_color;
            font-family: "Montserrat", sans-serif∆í;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__link {
        display: flex;
        padding: 6px 12px;
        justify-content: center;
        align-items: center;
        background-color: $primary_color;
        color: #FFF;
        margin-top: 21px;
        text-decoration: none;
    }
}